.AuthContainer {
  margin: 0 auto;
  padding-top: 50px;
  img {
    width: 200px;
    height: 40px;
  }
}

.form-group {
  margin-bottom: 0;
}

.loginCard {
  width: 450px;
  height: 400px;
  background-color: white;
  border: solid 2px #0DAC4A;
  border-radius: 1.4rem;
  // box-shadow: 10px 10px grey;
}

.loginHeader {
  width: 450px;
  height: 80px;
  color: #0DAC4A;
  font-size: 45px;
}

#loginHr {
  border: solid 1.5px #0DAC4A;
  width: 225px;
  margin-top: 0;
}

#usernameHr {
  border: solid 1.5px #0DAC4A;
  margin-top: 0;
  width: 350px;
}

#passwordHr {
  border: solid 1.5px #0DAC4A;
  margin-top: 0;
  width: 350px;
}
#userInput {
  margin-top: 10px;
}

#username {
  width: 300px;
  height: 40px;
  text-align: center;
  border: none;
  color: #0DAC4A;
  margin-bottom: 0;
  margin-top: 20px;
}

#password {
  width: 300px;
  height: 40px;  
  text-align: center;
  border: none;
  color: #0DAC4A;
  margin-top: 20px;
}

.createButton {
  width: 200px;
  margin: 5px;
  background-color: #0DAC4A;
  border-color: #0DAC4A;
}

.loginButton {
  width: 200px;
  margin: 5px;
  background-color: #0DAC4A;
  border-color: #0DAC4A;
  border-radius: 1.5rem;
}

.signupText {
  margin-bottom: 0;
  font-size: 20px;
  color: #0DAC4A;
}

.signInLink {
  text-decoration: none;
  color: #0DAC4A;
  font-size: 20px;
}