.messageWindow {
  background-color: white;
  border: solid #0DAC4A thick;
  width: 600px;
  height: 470px;
  display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // justify-content: flex-end;
  padding: 5px 10px;
  overflow-y: scroll;
}

.messageCard {
  background-color: #0DAC4A;
  height: 475px;
}

#message {
  width: 450px;
  height: 76px;
  margin: 0px 5px 0px 20px; 
}

#basic-addon1 {
  margin-right: 15px;
  margin-top: 20px;
  height: 38px;
  width: 76px;
  border-radius: 50%;
}

// .messagesContainer {
//   width: 600px;
//   height: 100px;
//   // display: flex;
//   // flex-wrap: wrap;
//   // flex-direction: row;
  
// }