.messageWindow {
  background-color: white;
  border: solid #0DAC4A thick;
  width: 600px;
  height: 470px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}
.messageCard {
  background-color: #0DAC4A;
  height: 475px;
}

#message {
  width: 450px;
  height: 76px;
  margin: 0px 5px 0px 20px; 
}

#basic-addon1 {
  margin-right: 15px;
  height: 76px;
}

// .input-group {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .Messages {
//   display: flex;
//   flex-direction: column;
// }