.messageWindow {
  background-color: white;
  border-radius: 20%;
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// .Messages {
//   display: flex;
//   flex-direction: column;
// }