.newAppointment {
  cursor: pointer;
}

.appointments {
  cursor: pointer;
}

.newAppointmentPic {
  width: 425px;
  height: 425px;
  border-radius: 1.7rem;
  margin: 20px;
  z-index: -1;
}

#newAppointmentsShade {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 425px;
  height: 425px;
  background-color: black;
  opacity: .35;
  border-radius: 1.7rem;
}

#appointmentsShade {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 425px;
  height: 425px;
  background-color: black;
  opacity: .35;
  border-radius: 1.7rem;
}

#newAppointmentText {
  position: absolute;
  font-size: 35px;
  color: white;
  z-index: 1;
  margin-top: 200px;
  margin-left: 85px;
}

#appointmentText {
  position: absolute;
  font-size: 35px;
  color: white;
  z-index: 1;
  margin-top: 200px;
  margin-left: 115px;
}

.appointmentsPic {
  width: 425px;
  height: 425px;
  border-radius: 1.7rem;
  margin: 20px;
}

#appointments {
  cursor: pointer;
}

#messages {
  cursor: pointer;
}

.homeLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 10px 50px 10px;
}

.homeLinkCard {
  width: 600px;
  height: 175px;
}