#newAppointment {
  cursor: pointer;
  display: flex;
  z-index: -1;
}

.newAppointmentPic {
  width: 425px;
  height: 425px;
  border-radius: 1.7rem;
  margin: 20px;
}

#appointmentTextDiv {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 425px;
  height: 425px;
  background-color: black;
  opacity: .3;
  border-radius: 1.7rem;
}

#newAppointmentTextDiv {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 425px;
  height: 425px;
  background-color: black;
  opacity: .3;
  border-radius: 1.7rem;
}

#appointmentText {
  width: 800px;
  position: absolute;
  margin-top: 200px;
  margin-left: 235px;
  color: white;
}

#newAppointmentText {
  display: flex;
  justify-content: left;
  width: 800px;
  position: absolute;
  margin-top: 200px;
  color: white;
}

.appointmentsPic {
  width: 425px;
  height: 425px;
  border-radius: 1.7rem;
  margin: 20px;
}

.appointments {
  cursor: pointer;
  z-index: -1;
}

#messages {
  cursor: pointer;
}

.homeLinksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 10px 50px 10px;
}

.homeLinkCard {
  width: 600px;
  height: 175px;
}